body {
        /* Fallback para navegadores que no soportan degradados */
        background-color: #e75480; /* Rosa */
        background-image: linear-gradient(to bottom, #e75480, #8e44ad); /* Degradado de rosa a morado */
        
        /* Estilos adicionales para el cuerpo del documento */
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
        height: 100vh; /* Establece la altura del cuerpo al 100% del viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;

}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
.file-input {
    margin: 20px 0;
}
.file-input input[type="file"] {
    display: none;
}
.file-input label {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.file-input label:hover {
    background-color: #0056b3;
}
